<header>
    <nav class="navbar navbar-light  coloring">
    <a class="navbar-brand">Scader</a>
    <form class="form-inline">
        
        
        <a class="nav-link color" href="/"><i class="fas fa-address-book"></i></a>
        
    </form>
    </nav>
</header>
