<meta name="viewport" content="width-device-width">
<fieldset class="scheduler-border" >
    <legend class="scheduler-border" > img</legend>
    <div class="container">
        <p style="font-size:35px">Enter your user name</p>
        <p style="font-size:20px">Enter new username if not exist</p>
        <hr>
        <form method="POST" action="/">
            <br>
            <br>
            <input type="text" name="username" placeholder="Username" size="30px" required="true">
        </form>
    </div>
    
</fieldset>