<div class="container">
    <meta name="viewport" content="width-device-width"> 
    <form action="/{{data.name}}"  method="POST">
    <textarea name="data"  id="data" autofocus  >{{ data.data }}</textarea>
    <input type="submit" name="Enter" id="submit">
    </form>
 </div>

//Updating index.hbs


<div class="container">
    <meta name="view" content="width-device-width"> 
    <form action="/{{data.name}}"  method="POST">
    <textarea name="data"  id="data" autofocus  >{{ data.data }}</textarea>
    <input type="submit" name="Enter" id="submit">
    </form>
 </div>
